<%- include('./partials/header.ejs') -%>
<%- include('./partials/mainnav.ejs') -%>
  

    <main class="container">
      <div class="row">
        <div class="col">
          <div class="jumbotron">
            <h1 class="display-4"><%= title %></h1>
        </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-6">
          <h2 class="display-5">Julian Miguel Alapan</h2>
          <img src="/Assets/images/currentPicture.jpg" alt="currentPic">
          <p id="firstParagraph">
            Hi, my name is <b>Julian Miguel Alapan</b>.
            <br>
            I am from the Philippines and I have been in Canada since the year 2011.
            <br>
            The course I'm taking is <b>Software Engineering Technology</b> and
            this is my 3rd semester. I have beginner knowledge regarding C#, JavaScript, and Python.
          </p>

          <a href="/Assets/files/JMAResume.pdf" alt="ResumeFile" target="_blank">
            <img src="/Assets/images/resume.png" alt="ResumeLogo" height="50" width="50">
            Resume
          </a>

          <a href="https://www.instagram.com/migzalapan/" alt="linkToInstagram" target="_blank">
            <img src="/Assets/images/instagramLogo.jpg" alt="InstagramLogo" height="50" width="50">
            migzalapan
          </a>
          <hr class="my-4">
        </div>
      </div>
    </main>

<%- include('./partials/bottomnav.ejs') -%>
<%- include('./partials/footer.ejs') -%>