<%- include('./partials/header.ejs') -%>
<%- include('./partials/mainnav.ejs') -%>

    <main class="container">
        <div class="row">
          <div class="col">
            <div class="jumbotron">
              <h1 class="display-4"><%= title %></h1>
          </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-6">
            <h2 class="display-5">Welcome to <%= title %></h2>
            <table id="firstWebsite">
                
                <a href="http://studentweb.cencol.ca/jalapan1/" alt="First Website" target="_blank">
                    <img src="/Assets/images/firstWebsite.png" alt="firstWebsitePicture">
                </a>
            </table>
            <table id="slotMachine">
                
                <a href="https://julianmiguelalapan.github.io/COMP125-M2020-Assignment4/" alt="Slot Machine" target="_blank">
                    <img src="/Assets/images/SlotMachine.png" alt="slotMachinePicture" height="300" width="500">
                </a>
            </table>
            <table id="diceMachine">
                
                <a href="https://julianmiguelalapan.github.io/COMP125-M2020-FInalTest/" alt="Dice Machine" target="_blank">
                    <img src="/Assets/images/Dice.png" alt="DiceMachinePicture" height="300" width="500">
                </a>
            </table>
            <hr class="my-4">
          </div>
        </div>
      </main>

<%- include('./partials/bottomnav.ejs') -%>
<%- include('./partials/footer.ejs') -%>